.sidebar{
    height: 575px;
    width: 294px;
    background-color: white;
    position: fixed;
    right: 0em;
    top: 136px;
    border: 3px;
    border-style: solid;
    border-color:black;
}

.sidebarHeading{
    width: 300px;
    height: 51px;
    position: absolute;
    top: -75px;
    left: -3px;
    background-color: rgb(37, 38, 43);
    color:white;
}

.sidebarLabels{
    display: block;
    margin: 2%;
    font-weight: bold;
}

.button{
    display: flex;
    position: relative;
    top: 25px;
    background-color: rgb(43, 44, 50);
    color: white;

}

.button:hover{
    cursor: pointer;
    background-color: black;
}